/* Navbar CSS styles  */
.Nav {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-gap: 0px;
  background-color: gainsboro;
}
.logo img {
  border-radius: 50%;
}
.logo {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: baseline;
}
/*Home css styles*/
.home img {
  width: 100%;
}
.launch {
  padding-top: 10px;
}
.App {
  height: 60px;
}

/*Nav1 css styles */

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.nav-left {
  padding-left: 30px;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  align-items: center;
}
.nav-item {
  padding-left: 25px;
}
.nav-item1 {
  padding-left: 15px;
  display: flex;
  background-color: burlywood;
  padding-right: 15px;
  border-radius: 10px;
  padding-inline: 20px;
  margin-left: 20px;
}
.nav-sub img {
  border: 1px solid black;
}
.nav-sub {
  padding: 2px;
}
/* Login CSS styles */
.card-collect {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 20px;
}
/*Map page Css Styles*/
.M-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 20px;
}
.S-Bar {
  width: 30%;
  height: 95vh;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.intro {
  padding-left: 20px;
}
.trip {
  padding-left: 20px;
}
.From {
  padding-left: 20px;
}
.To {
  padding-left: 20px;
  padding-bottom: 25px;
}
.select {
  padding-left: 20px;
}
.Vechile {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.Auto img {
  border-radius: 8px;
}
.Car img {
  border-radius: 8px;
}
.confirm {
  padding-left: 20px;
}
/*Map part css*/
.Map {
  width: 69%;
  height: 95vh;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
}

.mantine-gqmpge {
  font-size: 20px;
  width: 80%;
  color: aqua;
  text-align: left;
  min-height: 38px;
  border-radius: 4px;
}
.mantine-ittua2 {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: aqua;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}
.mantine-1m3pqry {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 3.55;
  color: aqua;
}
